@model Entities.Concrete.KullaniciYorumu
@{
    Layout = "~/Areas/SiteYonetici/Views/Shared/_LayoutSiteYonetici.cshtml";
}

<div class="container">
    <div class="row justify-content-center col-md-12">
        <div class="card-header" style="text-align:center">@Model.YorumDetay </div>
    </div>
</div>
